@import "../../abstracts/variables/colors";

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn-one {
	border: 2px $color__btnBlue solid;
	background-color: transparent;
	padding: 5px 55px;
	margin: 5px;
	border-radius: 0;

	&:hover {
		border: 2px $color__eventsBlue solid;
		background-color: $color__eventsBlue;
		transition: .2s;
		transform: scale(1.04);
	}

	&:visited {
		border: 2px $color__footer solid;
		background-color: rgba(255, 255, 255, .5);
	}

}

.btn-two {
	background-color: $color__btnBlue;
	border: none;
	border-radius: 0;
	color: $color__bgLight;

	&:hover {
		background-color: $color__tapYellow;
		color: $color__footer;
		transition: .2s;
		transform: scale(1.04);
	}
}

.form-submit {
	background-color: $color__btnBlue;
	border: none;
	border-radius: 0;
	color: $color__bgLight;

	&:hover {
		background-color: $color__tapYellow;
		color: $color__footer;
		transition: .2s;
		transform: scale(1.04);
	}
}


