@import "../../abstracts/variables/colors";

// BEGIN YEAR ROUND BEER LIST 

.eg-beers__list {
    background: $color__bgDark;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.eg-beers__list-item {
    display: flex;
    flex-direction: row;
}

.beers__list-img {
    float: left;
    margin: 10px;
}

.beers__list-h1 {
    color: $color__bgLight;
    font-size: 42px;
    font-weight: 400;
    margin: 0 15px;
    padding: 5px;
}

.beers__list-h2 {
    color: $color__bgLight;
    font-size: 20px;
    font-weight: 400;
    margin: 0 15px;
    padding: 5px;
}

.beers__list-p {
    color: $color__bgLight;
    font-size: 12px;
    margin: 5px 15px;
    padding: 5px;
}

.beers__details-list {
    column-count: 2;
    column-gap: 15px;
    list-style: none;
    color: $color__bgLight;
    font-size: 12px;
    padding: 2px;
    margin: 20px;
}

.beers__details-list li {
    padding: 5px;
}

// END YEAR ROUND BEER LIST


// BEGIN SEASONAL BEER LIST

.eg-beers__seasonal-list {
    column-count: 3;
    column-gap: 5px;
    list-style: none;
    margin: 10px;
}

.eg-beers__seasonal-item {
    text-align: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eg-h2-seasonal {
    font-weight: 400;
    margin: 0;
}

.eg-h3-seasonal {
    font-weight: 400;
    margin: 0;
}

// END SEASONAL BEER LIST