@import "../../abstracts/variables/colors";

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// TAPROOM PAGE

.tap-header {
	background-color: $color__tapBlue;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tap-header span {
	font-size: 28px;
	color: $color__bgLight;
	border: 5px $color__bgDark solid;
	margin: 30px;
	padding: 2px 35px;
}

.tap-location {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	background-color: $color__eventsBlue;
}

.tap-loc-child {
	text-align: center;
}

.tap-loc-child h1 {
	color: $color__tapBlue;
	font-weight: 400;
}

.tap-loc-child h3 {
	color: $color__tapBlue;
	font-weight: 400;

}

.tap-loc-child p {
	margin: 25px 1px;
}

.taplist {
	background-color: $color__tapYellow;
	display: flex;
	flex-direction: column;
}