@import "../../abstracts/variables/colors";

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
// MAIN PAGE START

.main-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100%
}

// MAIN PAGE END

// TAPROOM PAGE

.tap-header {
	background-color: $color__tapBlue;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tap-header span {
	font-size: 28px;
	color: $color__bgLight;
	border: 5px $color__bgDark solid;
	margin: 30px;
	padding: 2px 35px;
}

.tap-location {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	background-color: $color__eventsBlue;
}

.tap-loc-child {
	text-align: center;
	display: flex;
	flex-direction: column;
	font-weight: 500;
}

.taproom h1 {
	color: $color__tapBlue;
	font-weight: 500;
	text-align: center;
}

.taproom h3 {
	color: $color__tapBlue;
	font-weight: 400;
	text-align: center;
}

.taproom p {
	margin: 25px 1px;
}

.taplist {
	background-color: $color__tapYellow;
	display: flex;
	flex-direction: column;
	font-weight: 500;
}

.taplist h1 {
	text-align: center;
}

.taplist-head img {
	max-height: 600px;
}

.taplist-bottom {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.hours h1 {
	text-align: left;
}

.menus {
	display: flex;
	flex-direction: column;
}

.menus h1 {
	text-align: left;
}

.footer {
	background-color: $color__footer;
	display: flex;
	flex-direction: row;
}

.footer h1 {
	color: $color__bgLight;
	text-align: left;
	font-size: 24px;
}

.footer-sign-up {
	display: flex;
	flex-direction: column;
	color: $color__bgLight;
	padding: 10px;
	margin: 10px;
}

.footer-follow {
	position: relative;
	top: 200px;
	padding: 10px;
	margin: 10px;
}

.footer-follow img {
	margin: 0 5px;
}

.footer-logo {
	position: relative;
	top: 300px;
	padding: 10px;
	margin: 10px;
}

// TAPROOM PAGE END




