$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__biscay: #1A2F5A;

// Evil Genius Colors
$color__footer:#252525;
$color__tapBlue: #4A42BD;
$color__tapYellow: #FFDC00;
$color__toGoRed: #F43B49;
$color__finderGreen: #00DC8C;
$color__beerOrange: #FF7100;
$color__merchPink: #FF80C4;
$color__eventsBlue: #CFFBFF;
$color__eventsMint: #B3FFE9;
$color__btnBlue: #1162F1;
$color__bgDark: #1A2F5A;
$color__bgLight: #FFFDF8;
$color__wholesaleBlue: #1257EF